@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Additional custom styles for the form */
input:focus ~ label,
input:not(:placeholder-shown) ~ label,
textarea:focus ~ label,
textarea:not(:placeholder-shown) ~ label,
select:focus ~ label,
select:not([value=""]):valid ~ label {
  @apply transform;
  @apply text-[12px];
  @apply -translate-y-6;
}

input:focus ~ label,
textarea:focus ~ label,
select:focus ~ label {
  @apply dark:text-white;
  @apply text-black;
  @apply left-0;
  @apply -translate-y-6;
}
